<h1>Users</h1>
  <ul>
    <li><%= link_to "Sign In", new_user_session_path %></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
    <li><%= link_to "New User", new_user_registration_path %></li>
    <li><%= link_to "Edit User", edit_user_registration_path %></li>
  </ul>

<h1>Posts</h1>
  <ul>
    <li><%= link_to "Index", posts_path %></li>
    <li><%= link_to "New", new_post_path %></li>
  </ul>

<h1>Emotions</h1>
  <ul>
    <li><%= link_to "Index", emotions_path %></li>
    <li><%= link_to "New", new_emotion_path %></li>
  </ul>