<h1>Environments</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Type</th>
      <th>Reading</th>
      <th>Post</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @environments.each do |environment| %>
      <tr>
        <td><%= environment.sensor %></td>
        <td><%= environment.reading %></td>
        <td><%= environment.post.text %></td>
        <td><%= link_to 'Show', environment %></td>
        <td><%= link_to 'Edit', edit_environment_path(environment) %></td>
        <td><%= link_to 'Destroy', environment, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Environment', new_environment_path %>
