<%= form_for(@emotion) do |f| %>
  <% if @emotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emotion.errors.count, "error") %> prohibited this emotion from being saved:</h2>

      <ul>
      <% @emotion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :emotion %><br>
    <%= f.select :emotion, options_for_select(Emotion::ALL) %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.collection_select :post_id, Post.all, :id, :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
